.sign-up-logo {
  position: absolute;
  width: 155px;
  height: 30px;
  left: 210px;
  top: 81px;
}

.content {
  display: grid;
  grid-template-columns: 70% 30%;
}
.white-side {
  width: 100%;
  height: 100vh;
  //   max-width: 1020px;
  background-color: $White;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  width: 100%;
  height: 100%;
  width: 540px;
  max-height: 236px;
  margin-left: 270px;
  margin-top: -170px;

  h1 {
    color: $Darkblue;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
  }

  p {
    color: $Grey;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
  }
}

.sign-up-coming-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  h2 {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 5px;
    text-transform: uppercase;

    .date {
      color: $Blue;
    }
  }

  .timer {
    width: 448px;
    height: 128px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
  }

  .timer-card-signup {
    width: 100px;
    height: 128px;
    text-align: center;
    background: rgba(81, 117, 255, 0.1);
    border-radius: 13px;
    @include dFlex-center;
    flex-direction: column;

    h1 {
      color: $Blue;
      font-weight: bold;
      font-size: 56px;
      line-height: 48px;
    }

    p {
      margin-top: 10px;
    }
  }
}

.sign-up-card {
  width: 100%;
  height: 100%;
  max-height: 508px;
  max-width: 445px;
  background-color: $White;
  position: relative;
  left: 120px;
  z-index: 1000;
  border-radius: 13px;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);

  .card {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 13px;

    .input {
      width: 350px;
      height: 45px;
      border: none;
      border-bottom: 1px solid $Grey;
      outline: none;
      margin-top: 10px;
      color: $Grey;
      opacity: 0.5;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      appearance: none;
    }

    .option {
      color: $Darkblue;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 28px;
    }

    #email {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      // color: #f05b5b;
    }

    .error {
      position: absolute;
      right: 60px;
      top: 105px;
      display: none;
    }

    .error.active {
      display: block;
    }

    .arrow {
      position: absolute;
      right: 60px;
      top: 160px;
      z-index: 600;
      transition: all 0.3s;
    }

    .arrow.active {
      transform: rotate(180deg);
      transition: all 0.3s;
    }
  }

  .get {
    width: 360px;
    height: 56px;
    margin-top: 40px;
    color: $White;
    background-color: $Blue;
    border: none;
    border-radius: 28px;
    cursor: pointer;
  }
}

// Mobile

@media (max-width: 768px) {
  .sign-up-logo {
    left: 110px;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .white-side {
    width: 100%;
    height: 100%;
    max-width: 375px;
    max-height: 915px !important;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 15px;
    padding-top: 150px;
    background-image: url(/assets/home/bg-pattern-header.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;

    .text {
      width: 100%;
      height: 100%;
      max-width: 327px !important;
      padding: 20px;
      margin: 0;

      h1 {
        font-size: 40px !important;
      }

      p {
        font-size: 16px;
        margin-bottom: 20px;
      }

      .coming-container {
        margin-top: 50px;
      }
    }

    .sign-up-coming-container {
      width: 328px;
      height: 158px;
      margin: 0px !important;
      margin-right: 0px !important;
      display: flex;
      justify-content: center;
      align-items: center;

      .timer {
        width: 328px;
        height: 92px;
      }

      .timer-card-signup {
        width: 72px;
        height: 92px;
      }
    }

    .sign-up-card {
      width: 100%;
      height: 100%;
      max-width: 375px;
      max-height: 465px;
      left: 0;
      top: 260px;

      .card {
        padding: 0;
        justify-content: center;
        align-items: center;
      }

      .get {
        width: 279px;
        height: 56px;
        margin-bottom: 24px;
      }
    }

    .input {
      width: 279px !important;
    }

    .error {
      right: 60px;
      top: 73px !important;
    }

    .arrow {
      top: 127px !important;
    }
  }
}

// Tablet

@media (min-width: 768px) and (max-width: 1240px) {
  .sign-up-logo {
    left: 39px;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: column;
  }

  .white-side {
    width: 100%;
    height: 100%;
    max-height: 945px;
    display: flex;
    flex-direction: column;

    .text {
      width: 572px;
      margin-top: 206px;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      h1 {
        font-size: 40px;
        margin-bottom: 40px;
      }
    }
  }

  .timer {
    .timer-card-signup {
      max-width: 100px;
      max-height: 128px;

      h1 {
        margin-bottom: 0;
      }
    }
  }

  .sign-up-card {
    width: 445px;
    height: 508px;
    padding-left: 15px;
    left: 0;
    bottom: -200px;
    .card {
      left: 0;
    }
  }
}

// Desktop

@media (min-width: 1440px) {
}
