@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Space+Mono:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home {
  width: 100%;
  height: 100%;
  min-height: 1182px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(/assets/home/bg-pattern-header.svg);
  background-size: 50%;
  background-position: right top;
  background-repeat: no-repeat;
}

.logo-container {
  width: 72%;
  height: 60px;
  margin: 80px auto;
}

.logo-container .logo {
  width: 155px;
  height: 30px;
}

.home-content {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-side {
  width: 100%;
  height: 100%;
  max-width: 540px;
  max-height: 388px;
  margin-right: 20px;
}

.text-side h1 {
  color: #333950;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 20px;
}

.text-side p {
  color: #747b95;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}

.get-started {
  width: 171px;
  height: 56px;
  background-color: #5175ff;
  color: #fff;
  border-radius: 28px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.chart-side {
  width: 100%;
  height: 100%;
  max-width: 475px;
  max-height: 531px;
}

.chart-side .chart-img {
  width: 100%;
  height: 100%;
  max-width: 475px;
  max-height: 531px;
}

@media (max-width: 765px) {
  .home {
    width: 100%;
    min-width: 375px;
    min-height: 1684px;
    background-position: center top;
    background-size: 100%;
  }
  .logo-container {
    width: 50%;
    height: 60px;
    margin: 0px auto;
    margin-top: 45px;
  }
  .home-content {
    width: 100%;
    height: 650px;
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-side {
    width: 100%;
    height: 100%;
    width: 327px;
    height: 378px;
    font-size: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0 !important;
    text-align: center;
    margin-top: 40px;
  }
  .text-side h1 {
    font-size: 40px !important;
  }
  .chart-side {
    width: 100%;
    height: 100%;
    max-width: 171px;
    max-height: 192px;
    margin-top: 150px;
  }
}

@media (min-width: 767px) and (max-width: 1240px) {
  .home {
    width: 100%;
    height: 100%;
    min-height: 1198px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .logo-container {
    width: 85%;
  }
  .home-content {
    width: 100%;
    height: 100%;
    margin-top: 0px !important;
  }
  .text-side {
    width: 100%;
    height: 100%;
    max-width: 345px;
    max-height: 352px;
  }
  .text-side h1 {
    font-size: 40px !important;
  }
  .chart-side {
    width: 100%;
    height: 100%;
    max-width: 281px;
    max-height: 314px;
  }
}

@media (min-width: 1440px) {
  .logo-container {
    width: 65%;
  }
}

.coming {
  width: 100%;
  height: 100%;
  min-height: 603px;
  background: url(/assets/home/bg-pattern-footer.svg), #25293a;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: left;
}

.cards {
  width: 100%;
  height: 100%;
  max-width: 1108px;
  max-height: 508px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.cards .plan-card {
  width: 350px;
  height: 508px;
  margin-top: -250px;
  text-align: center;
}

.cards #basic,
.cards #ultimate {
  background-color: #fff;
  border-radius: 13px;
  -webkit-filter: drop-shadow(0 50px 50px rgba(75, 92, 154, 0.2472));
          filter: drop-shadow(0 50px 50px rgba(75, 92, 154, 0.2472));
}

.cards #basic p,
.cards #ultimate p {
  margin-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #333950;
}

.cards #basic h1,
.cards #ultimate h1 {
  margin-top: 60px;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #333950;
}

.cards #basic h2,
.cards #ultimate h2 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #333950;
}

.cards #basic h3,
.cards #ultimate h3 {
  margin-top: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  color: #747b95;
  text-align: center;
}

.cards #basic button,
.cards #ultimate button {
  margin-top: 25px;
  width: 171px;
  height: 56px;
  border-radius: 28px;
  border: none;
  background-color: #829cff;
  color: #5175ff;
  cursor: pointer;
}

.cards #pro {
  background: url(/assets/home/bg-pattern-pricing.svg), #5175ff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 13px;
  -webkit-filter: drop-shadow(0 50px 50px rgba(75, 92, 154, 0.2472));
          filter: drop-shadow(0 50px 50px rgba(75, 92, 154, 0.2472));
}

.cards #pro p {
  margin-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}

.cards #pro h1 {
  margin-top: 60px;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #fff;
}

.cards #pro h2 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

.cards #pro h3 {
  margin-top: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  color: #fff;
  text-align: center;
}

.cards #pro button {
  margin-top: 25px;
  width: 171px;
  height: 56px;
  border-radius: 28px;
  border: none;
  background-color: #fff;
  color: #5175ff;
  cursor: pointer;
}

.coming-container {
  width: 100%;
  height: 100%;
  max-width: 1110px;
  max-height: 603px;
  margin: 76px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coming-container .coming-content h2 {
  color: #fff;
  font-style: Bold;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.coming-container .coming-content .date {
  color: #5175ff;
}

.coming-container .get-started {
  width: 171px;
  height: 56px;
  background-color: #5175ff;
  color: #fff;
  border-radius: 28px;
  border: none;
  cursor: pointer;
}

.coming-container .timer {
  width: 100%;
  height: 100%;
  max-width: 448px;
  max-height: 176px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.coming-container .timer .timer-card {
  width: 100px;
  height: 128px;
  text-align: center;
  background-color: #333950;
  border-radius: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coming-container .timer .timer-card .day,
.coming-container .timer .timer-card .hour,
.coming-container .timer .timer-card .min,
.coming-container .timer .timer-card .sec {
  font-weight: bold;
  font-size: 56px;
  line-height: 48px;
  color: #fff;
}

.coming-container .timer .timer-card p {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.5;
  color: #fff;
}

@media (max-width: 765px) {
  .coming {
    width: 100%;
    height: 100%;
    min-height: 1250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards {
    width: 100%;
    height: 100%;
    max-width: 375px;
    min-height: 1588px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 10px;
    margin-top: -500px;
    margin-left: 25px;
  }
  .cards .plan-card {
    max-width: 327px;
    max-height: 508px;
  }
  .coming-container {
    width: 100%;
    height: 100%;
    max-width: 328px;
    min-height: 254px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -60px;
  }
  .coming-container .coming-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .coming-container h2 {
    margin-bottom: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 48px;
  }
  .coming-container .date {
    color: #5175ff;
    font-weight: bold;
    font-size: 16px;
    line-height: 48px;
  }
  .timer {
    margin-bottom: 30px;
  }
  .timer .timer-card {
    max-width: 72px !important;
    max-height: 92px !important;
  }
  .timer h1 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 767px) and (max-width: 1240px) {
  .coming {
    width: 100%;
    height: 950px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards {
    width: 100%;
    height: 100%;
    min-height: 996px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -500px;
  }
  .cards .plan-card {
    width: 689px;
    height: 316px !important;
    margin: 10px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "basic info" "free info" "users info" "button info";
    -ms-grid-rows: 25% 25% 25% 25%;
        grid-template-rows: 25% 25% 25% 25%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: start;
  }
  .cards .plan-card p {
    margin-left: 47px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: basic;
  }
  .cards .plan-card h1 {
    margin-left: 47px;
    margin-top: 0px !important;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: free;
  }
  .cards .plan-card h3 {
    margin-left: 47px;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: users;
  }
  .cards .plan-card h5 {
    margin-top: 95px !important;
    margin-right: 67px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 2;
    grid-area: info;
  }
  .cards .plan-card button {
    margin-left: 47px;
    margin-top: 0 !important;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: button;
  }
  .coming-container {
    width: 100%;
    height: 100%;
    max-height: 288px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .coming-container .coming-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sign-up-logo {
  position: absolute;
  width: 155px;
  height: 30px;
  left: 210px;
  top: 81px;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

.white-side {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  width: 100%;
  height: 100%;
  width: 540px;
  max-height: 236px;
  margin-left: 270px;
  margin-top: -170px;
}

.text h1 {
  color: #333950;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
}

.text p {
  color: #747b95;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.sign-up-coming-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

.sign-up-coming-container h2 {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.sign-up-coming-container h2 .date {
  color: #5175ff;
}

.sign-up-coming-container .timer {
  width: 448px;
  height: 128px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px;
}

.sign-up-coming-container .timer-card-signup {
  width: 100px;
  height: 128px;
  text-align: center;
  background: rgba(81, 117, 255, 0.1);
  border-radius: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign-up-coming-container .timer-card-signup h1 {
  color: #5175ff;
  font-weight: bold;
  font-size: 56px;
  line-height: 48px;
}

.sign-up-coming-container .timer-card-signup p {
  margin-top: 10px;
}

.sign-up-card {
  width: 100%;
  height: 100%;
  max-height: 508px;
  max-width: 445px;
  background-color: #fff;
  position: relative;
  left: 120px;
  z-index: 1000;
  border-radius: 13px;
  -webkit-box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
          box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
}

.sign-up-card .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  border-radius: 13px;
}

.sign-up-card .card .input {
  width: 350px;
  height: 45px;
  border: none;
  border-bottom: 1px solid #747b95;
  outline: none;
  margin-top: 10px;
  color: #747b95;
  opacity: 0.5;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.sign-up-card .card .option {
  color: #333950;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
}

.sign-up-card .card #email {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

.sign-up-card .card .error {
  position: absolute;
  right: 60px;
  top: 105px;
  display: none;
}

.sign-up-card .card .error.active {
  display: block;
}

.sign-up-card .card .arrow {
  position: absolute;
  right: 60px;
  top: 160px;
  z-index: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sign-up-card .card .arrow.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sign-up-card .get {
  width: 360px;
  height: 56px;
  margin-top: 40px;
  color: #fff;
  background-color: #5175ff;
  border: none;
  border-radius: 28px;
  cursor: pointer;
}

@media (max-width: 765px) {
  .sign-up-logo {
    left: 110px;
  }
  .content {
    width: 100%;
    height: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .white-side {
    width: 100%;
    height: 100%;
    max-width: 375px;
    max-height: 915px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px;
    padding-top: 150px;
    background-image: url(/assets/home/bg-pattern-header.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
  }
  .white-side .text {
    width: 100%;
    height: 100%;
    max-width: 327px !important;
    padding: 20px;
    margin: 0;
  }
  .white-side .text h1 {
    font-size: 40px !important;
  }
  .white-side .text p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .white-side .text .coming-container {
    margin-top: 50px;
  }
  .white-side .sign-up-coming-container {
    width: 328px;
    height: 158px;
    margin: 0px !important;
    margin-right: 0px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .white-side .sign-up-coming-container .timer {
    width: 328px;
    height: 92px;
  }
  .white-side .sign-up-coming-container .timer-card-signup {
    width: 72px;
    height: 92px;
  }
  .white-side .sign-up-card {
    width: 100%;
    height: 100%;
    max-width: 375px;
    max-height: 465px;
    left: 0;
    top: 260px;
  }
  .white-side .sign-up-card .card {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .white-side .sign-up-card .get {
    width: 279px;
    height: 56px;
    margin-bottom: 24px;
  }
  .white-side .input {
    width: 279px !important;
  }
  .white-side .error {
    right: 60px;
    top: 73px !important;
  }
  .white-side .arrow {
    top: 127px !important;
  }
}

@media (min-width: 767px) and (max-width: 1240px) {
  .sign-up-logo {
    left: 39px;
  }
  .content {
    width: 100%;
    height: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .white-side {
    width: 100%;
    height: 100%;
    max-height: 945px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .white-side .text {
    width: 572px;
    margin-top: 206px;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .white-side .text h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .timer .timer-card-signup {
    max-width: 100px;
    max-height: 128px;
  }
  .timer .timer-card-signup h1 {
    margin-bottom: 0;
  }
  .sign-up-card {
    width: 445px;
    height: 508px;
    padding-left: 15px;
    left: 0;
    bottom: -200px;
  }
  .sign-up-card .card {
    left: 0;
  }
}

.dark-side {
  width: 100%;
  height: 100vh;
  background: url(/assets/sign-up/bg-pattern-side.svg), #25293a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

@media (max-width: 765px) {
  .dark-side {
    width: 100%;
    height: 100%;
    min-height: 340px;
  }
}

@media (min-width: 767px) and (max-width: 1240px) {
  .dark-side {
    width: 100%;
    height: 337px;
  }
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.main {
  width: 100%;
  height: 100%;
}

.sign-up-main {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */