.coming {
  width: 100%;
  height: 100%;
  min-height: 603px;
  background: url(/assets/home/bg-pattern-footer.svg), $Verydarkblue;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: left;
}

.cards {
  width: 100%;
  height: 100%;
  max-width: 1108px;
  max-height: 508px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  .plan-card {
    width: 350px;
    height: 508px;
    margin-top: -250px;
    text-align: center;
  }

  // Cards

  #basic,
  #ultimate {
    background-color: $White;
    border-radius: 13px;
    filter: drop-shadow(0 50px 50px rgba(75, 92, 154, 0.2472));

    p {
      margin-top: 40px;
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      color: $Darkblue;
    }

    h1 {
      margin-top: 60px;
      font-weight: 700;
      font-size: 56px;
      line-height: 64px;
      color: $Darkblue;
    }

    h3 {
      margin-top: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: $Darkblue;
    }

    h5 {
      margin-top: 50px;
      font-weight: 400;
      font-size: 16px;
      line-height: 38px;
      color: $Grey;
      text-align: center;
    }

    button {
      margin-top: 25px;
      width: 171px;
      height: 56px;
      border-radius: 28px;
      border: none;
      background-color: $Lightblue;
      color: $Blue;
      cursor: pointer;
    }
  }

  #pro {
    background: url(/assets/home/bg-pattern-pricing.svg), $Blue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 13px;
    filter: drop-shadow(0 50px 50px rgba(75, 92, 154, 0.2472));

    p {
      margin-top: 40px;
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      color: $White;
    }

    h1 {
      margin-top: 60px;
      font-weight: 700;
      font-size: 56px;
      line-height: 64px;
      color: $White;
    }

    h3 {
      margin-top: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: $White;
    }

    h5 {
      margin-top: 50px;
      font-weight: 400;
      font-size: 16px;
      line-height: 38px;
      color: $White;
      text-align: center;
    }

    button {
      margin-top: 25px;
      width: 171px;
      height: 56px;
      border-radius: 28px;
      border: none;
      background-color: $White;
      color: $Blue;
      cursor: pointer;
    }
  }
}

// coming container

.coming-container {
  width: 100%;
  height: 100%;
  max-width: 1110px;
  max-height: 603px;
  margin: 76px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .coming-content {
    h2 {
      color: $White;
      font-style: Bold;
      font-size: 16px;
      line-height: 48px;
      letter-spacing: 5px;
      text-transform: uppercase;
    }

    .date {
      color: $Blue;
    }
  }

  .get-started {
    width: 171px;
    height: 56px;
    background-color: $Blue;
    color: $White;
    border-radius: 28px;
    border: none;
    cursor: pointer;
  }

  .timer {
    width: 100%;
    height: 100%;
    max-width: 448px;
    max-height: 176px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    .timer-card {
      width: 100px;
      height: 128px;
      text-align: center;
      background-color: $Darkblue;
      border-radius: 13px;
      @include dFlex-center;
      flex-direction: column;

      .day,
      .hour,
      .min,
      .sec {
        font-weight: bold;
        font-size: 56px;
        line-height: 48px;
        color: $White;
      }

      p {
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        opacity: 0.5;
        color: $White;
      }
    }
  }
}

// Mobile

@media (max-width: 768px) {
  .coming {
    width: 100%;
    height: 100%;
    min-height: 1250px;
    @include dFlex-center;
    flex-direction: column;
  }

  .cards {
    width: 100%;
    height: 100%;
    max-width: 375px;
    min-height: 1588px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: -500px;
    margin-left: 25px;

    .plan-card {
      max-width: 327px;
      max-height: 508px;
    }
  }

  .coming-container {
    width: 100%;
    height: 100%;
    max-width: 328px;
    min-height: 254px;
    @include dFlex-center;
    flex-direction: column;
    margin-top: -60px;

    .coming-content {
      width: 100%;
      height: 100%;
      @include dFlex-center;
      flex-direction: column;
    }

    h2 {
      margin-bottom: 30px;
      color: $White;
      font-weight: bold;
      font-size: 16px;
      line-height: 48px;
    }

    .date {
      color: $Blue;
      font-weight: bold;
      font-size: 16px;
      line-height: 48px;
    }
  }

  .timer {
    margin-bottom: 30px;

    .timer-card {
      max-width: 72px !important;
      max-height: 92px !important;
    }

    h1 {
      font-size: 32px;
      line-height: 48px;
    }
  }
}

// Tablet

@media (min-width: 768px) and (max-width: 1240px) {
  .coming {
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
  }

  .cards {
    width: 100%;
    height: 100%;
    min-height: 996px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -500px;

    .plan-card {
      width: 689px;
      height: 316px !important;
      margin: 10px;
      display: flex;
    }
  }

  .coming-container {
    width: 100%;
    height: 100%;
    max-height: 288px;
    display: flex;
    flex-direction: column;

    .coming-content {
      width: 100%;
      height: 100%;
      @include dFlex-center;
      flex-direction: column;
    }
  }
}

// Desktop

@media (min-width: 1440px) {
}
