.home {
  width: 100%;
  height: 100%;
  min-height: 1182px;
  display: flex;
  flex-direction: column;
  background-image: url(/assets/home/bg-pattern-header.svg);
  background-size: 50%;
  background-position: right top;
  background-repeat: no-repeat;
}

.logo-container {
  width: 72%;
  height: 60px;
  margin: 80px auto;

  .logo {
    width: 155px;
    height: 30px;
  }
}

.home-content {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.text-side {
  width: 100%;
  height: 100%;
  max-width: 540px;
  max-height: 388px;
  margin-right: 20px;

  h1 {
    color: $Darkblue;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 20px;
  }

  p {
    color: $Grey;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .get-started {
    width: 171px;
    height: 56px;
    background-color: $Blue;
    color: $White;
    border-radius: 28px;
    border: none;
    cursor: pointer;
  }
}

.chart-side {
  width: 100%;
  height: 100%;
  max-width: 475px;
  max-height: 531px;

  .chart-img {
    width: 100%;
    height: 100%;
    max-width: 475px;
    max-height: 531px;
  }
}

// Mobile

@media (max-width: 767px) {
  .home {
    width: 100%;
    min-width: 375px;
    min-height: 1684px;
    background-position: center top;
    background-size: 100%;
  }

  .logo-container {
    width: 50%;
    height: 60px;
    margin: 0px auto;
    margin-top: 45px;
  }

  .home-content {
    width: 100%;
    height: 650px;
    margin-top: 0px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .text-side {
    width: 100%;
    height: 100%;
    width: 327px;
    height: 378px;
    font-size: 40px;
    flex-direction: column;
    margin-right: 0 !important;
    text-align: center;
    margin-top: 40px;

    h1 {
      font-size: 40px !important;
    }
  }

  .chart-side {
    width: 100%;
    height: 100%;
    max-width: 171px;
    max-height: 192px;
    margin-top: 150px;
  }
}

// Tablet

@media (min-width: 768px) and (max-width: 1240px) {
  .home {
    width: 100%;
    height: 100%;
    min-height: 1198px;
    align-items: flex-start;
  }

  .logo-container {
    width: 85%;
  }

  .home-content {
    width: 100%;
    height: 100%;
    margin-top: 0px !important;
  }
  .text-side {
    width: 100%;
    height: 100%;
    max-width: 345px;
    max-height: 352px;

    h1 {
      font-size: 40px !important;
    }
  }

  .chart-side {
    width: 100%;
    height: 100%;
    max-width: 281px;
    max-height: 314px;
  }
}

// Desktop

@media (min-width: 1440px) {
  .logo-container {
    width: 65%;
  }
}
